<!DOCTYPE html>
<html>
<head>
	<title>Cadastro Obra</title>
</head>
<body>
	<h2>Controlador - Cadastro de obra</h2>
	<p>Bem-vindo <%=usuario %>!</p>

	<form method="post" action="/obra/cadastrar" enctype="multipart/form-data">
		<label for="arquivo">Adicione um arquivo:</label>
		<input type="file" name="arquivo" required="required"><br><br>
		<label for="carteiraMediador">Carteira do usuário:</label>
		<input type="text" name="carteiraMediador" required="required" size="50"><br><br>
		<input type="submit" name="Cadastrar" value="Cadastrar">
	</form>
</body>
</html>
