<!DOCTYPE html>
<html>
<head>
	<title>Cadastro Usuário</title>
</head>
<body>
	<h2>Controlador - Cadastro de usuário</h2>
	<!-- <p>Bem-vindo mediador <%=usuario %>!</p> -->

	<form method="post" action="/usuario/cadastrar">
		<label for="nome">Nome do usuário:</label>
		<input type="text" name="nome" required="required" size="50"><br><br>
		<label for="carteiraUsuario">Carteira Blockchain:</label>
		<input type="text" name="carteiraUsuario" required="required" size="50"><br><br>
		<label for="senha">Senha:</label>
		<input type="text" name="senha" required="required" size="50"><br><br>
		<input type="submit" name="Cadastrar" value="Cadastrar">
	</form>
</body>
</html>
