<!DOCTYPE html>
<html>
<head>
	<title>Transferência de Ether (Usuário)</title>
</head>
<body>
	<h2>DLM - Transferir ether de um usuário para outro</h2>

	<form method="post" action="/usuario/transferir-ether">
		<h3>Transferir Ether:</h3>
		<label for="usuarioOrigem">Usuário origem:</label>
		<input type="text" name="usuarioOrigem" required="required" size="50" placeholder="Digite a carteira do usuário"><br><br>
		<label for="usuarioDestino">Usuário destino:</label>
		<input type="text" name="usuarioDestino" required="required" size="50" placeholder="Digite a carteira do usuário"><br><br>
		<label for="valorEther">Valor (em Ether):</label>
		<input type="number" name="valorEther" required="required" size="50" min="1"><br><br>
		<input type="submit" name="Cadastrar">
	</form>
</body>
</html>
